# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. ggplot

| Data Science Tools|
|------------------|
|Jupyter|
|R|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
round (200/60, 2)


# This will convert 200 minutes to hours by diving by 60

3.33

In [7]:
import pandas as pd

In [9]:
pd.Timedelta(minutes=200) / pd.Timedelta(hours=1)

3.3333333333333335

Objectives:
- List popular languages used by data scientists
- List commonly used languages by data scientists
- List commonly used languages by data scientists

## Author

UDOH STEPHEN NSIKAK